Repository aragon/dao-templates, pull requests merged in 2019-07, with the labels that each got.

#94 Multisig: Improve tests
  shared/helpers/assertRevert.js
  templates/multisig/test/gas.js
  templates/multisig/test/multisig.js
Labels: enhancement, kit: multisig

#96 Bare: Add tests
  .travis.yml
  package.json
  templates/bare/package.json
  templates/bare/test/.keep
  templates/bare/test/bare.js
Labels: enhancement, kit: bare

#115 Multisig: Remove template
  .travis.yml
  package.json
  templates/multisig/.solcover.js
  templates/multisig/.soliumignore
  templates/multisig/.soliumrc.json
  templates/multisig/README.md
  templates/multisig/arapp.json
  templates/multisig/contracts/MultisigTemplate.sol
  templates/multisig/contracts/test/TestImports.sol
  templates/multisig/manifest.json
  templates/multisig/migrations/.keep
  templates/multisig/package.json
  templates/multisig/scripts/deploy.js
  templates/multisig/test/gas.js
  templates/multisig/test/multisig.js
  templates/multisig/truffle.js
Labels: template: multisig

#114 Trust: Remove coverage file
  .gitignore
  templates/trust/.solcover.js
Labels: template: trust

#117 Democracy: Remove template
  .travis.yml
  package.json
  templates/democracy/.solcover.js
  templates/democracy/.soliumignore
  templates/democracy/.soliumrc.json
  templates/democracy/README.md
  templates/democracy/arapp.json
  templates/democracy/contracts/DemocracyTemplate.sol
  templates/democracy/contracts/test/TestImports.sol
  templates/democracy/manifest.json
  templates/democracy/migrations/.keep
  templates/democracy/package.json
  templates/democracy/scripts/deploy.js
  templates/democracy/test/democracy.js
  templates/democracy/test/gas.js
  templates/democracy/truffle.js
Labels: template: democracy

#116 Bare: Fix template name for ropsten
  templates/bare/arapp.json
Labels: template:bare

#120 Chore: Add publish scripts
  shared/lib/TemplatesDeployer.js
  templates/bare/package.json
  templates/bare/scripts/deploy.js
  templates/company-board/package.json
  templates/company-board/scripts/deploy.js
  templates/company/package.json
  templates/company/scripts/deploy.js
  templates/membership/package.json
  templates/membership/scripts/deploy.js
  templates/reputation/package.json
  templates/reputation/scripts/deploy.js
  templates/trust/package.json
  templates/trust/scripts/deploy.js
Labels: enhancement

#119 Allows to pass more parameters to templates
  templates/company-board/README.md
  templates/company-board/contracts/CompanyBoardTemplate.sol
  templates/company-board/test/company-board.js
  templates/company/README.md
  templates/company/contracts/CompanyTemplate.sol
  templates/company/test/company.js
  templates/membership/README.md
  templates/membership/contracts/MembershipTemplate.sol
  templates/membership/test/membership.js
  templates/reputation/README.md
  templates/reputation/contracts/ReputationTemplate.sol
  templates/reputation/test/reputation.js
Labels: enhancement, template:company, template:company-board, template:membership, template:reputation

#123 Company-Board: Optimize gas costs
  templates/company-board/README.md
  templates/company-board/contracts/CompanyBoardTemplate.sol
  templates/company-board/test/company-board.js
  templates/company/README.md
  templates/company/contracts/CompanyTemplate.sol
  templates/company/test/company.js
  templates/membership/README.md
  templates/membership/contracts/MembershipTemplate.sol
  templates/membership/test/membership.js
  templates/reputation/README.md
  templates/reputation/contracts/ReputationTemplate.sol
  templates/reputation/test/reputation.js
  templates/trust/contracts/TrustTemplate.sol
Labels: enhancement, template:company-board
