Repository aragon/dao-templates, pull requests merged in 2021-12, with the labels that each got.

#206 adding information about stardust and andromeda chains
  templates/bare/package.json
  templates/company-board/package.json
  templates/company/arapp.json
  templates/company/package.json
  templates/dandelion/package.json
  templates/membership/arapp.json
  templates/membership/package.json
  templates/open-enterprise/package.json
  templates/reputation/arapp.json
  templates/reputation/package.json
  templates/trust/package.json
Labels: stardust, membership:major, company:major, reputation:major

#207 adding stardust and andromeda js files
  shared/constructor-args/andromeda.js
  shared/constructor-args/stardust.js
Labels: stardust, membership:major, company:major, reputation:major

#208 removing rpc url
  templates/company/arapp.json
Labels: stardust, membership:major, company:major

#210 to trigger deploy
  templates/membership/arapp.json
  templates/reputation/arapp.json
Labels: stardust, reputation:major

#211 fixing mini me contract address
  shared/constructor-args/stardust.js
Labels: stardust, membership:major, company:major, reputation:major

#212 Andromeda addresses
  shared/constructor-args/andromeda.js
Labels: andromeda, membership:major, company:major, reputation:major

#213 Simplify constructor args
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  shared/constructor-args/andromeda.js
  shared/constructor-args/bscTest-open-enterprise.js
  shared/constructor-args/bscTest.js
  shared/constructor-args/harmony-open-enterprise.js
  shared/constructor-args/harmony.js
  shared/constructor-args/harmonyTest-open-enterprise.js
  shared/constructor-args/harmonyTest.js
  shared/constructor-args/mainnet-open-enterprise.js
  shared/constructor-args/mainnet.js
  shared/constructor-args/matic-open-enterprise.js
  shared/constructor-args/matic.js
  shared/constructor-args/mumbai-open-enterprise.js
  shared/constructor-args/mumbai.js
  shared/constructor-args/rinkeby-open-enterprise.js
  shared/constructor-args/rinkeby.js
  shared/constructor-args/stardust.js
  shared/scripts/prepare-args.js
Labels: dandelion:major, open-enterprise:major, bscTest

#214 fix deploy error due to missing app name
  .github/workflows/deploy.yml
Labels: dandelion:major, open-enterprise:major, bscTest

#215 fix missing network
  .github/workflows/deploy.yml
Labels: dandelion:major, open-enterprise:major, bscTest

#217 add open-enterprise 0.0.3 to mumbai
  readme.md
Labels: open-enterprise:patch, mumbai

#218 remove create pull request from workflow
  .github/scripts/release-notes.sh
  .github/scripts/update_deploymentfile.py
  .github/workflows/deploy.yml
Labels: dandelion:major, stardust

#219 add stardust and andromeda
  templates/dandelion/arapp.json
  templates/open-enterprise/arapp.json
Labels: dandelion:major, stardust
